/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
}

mat-toolbar {
  padding: 40px;
}

mat-list {
  z-index: 0;
  padding-top: 0px !important;
}

.mainTitle {
  font-size: 60px;
}

.author {
  color: #adadad; 
}

.list-item {
  padding-left: 3%;
}

.container-date {
  margin-left: auto;
  position: relative;
  padding-right: 20px;
  margin-right: 8%;
}

.list-item:hover {
  background: #f5f4f4;
}

.list-item:hover .delete-icon {
  display: inline-block;
}

a {
  text-decoration: none;
}

.mat-icon.delete-icon {
  z-index: 10;
  display: none;
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -4px;
}